    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome do Fornecedor" ng-model="fornecedor.nome">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="fornecedor@email.com" ng-model="fornecedor.email">
    </div>
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="tel" class="form-control" id="telefone" placeholder="(xx) xxxx xxxx" ng-model="fornecedor.telefone">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="fornecedor.ativo"> Ativo
        </label>
    </div>
